#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    flex-direction: column;
}
#buttons {
    display: flex;
    flex-direction: row;
    width: 250px;
}

#numbers {
    flex-direction: column;
    width: 220px;
    background-color: wheat;
}

#numbers > *, #math-signs > * {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 25px;
    padding: 26px;
    text-align: center;
    background-color: rgb(223, 241, 241);
    color:teal;
    border: none
}

#math-signs {
    flex-direction: column;
    width: 60px;
    background-color: violet;
}

#output > input{
    height: 50px;
    font-size: 20px;
    width: 250px;
    border-radius: 0;
    margin-top: 10px
}