body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#input-content {
    display: flex;
    flex-direction: column;
    margin: 10px
}


#input-content > * {
    margin: 5px
}